[Unit]
Description=keyd application remapper usermode reporter service - see: https://github.com/Bizangel/keyd-usermode-application-remapper
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=<home_abs_path>/.local/bin/keyd_application_mapper_user_reporter

[Install]
WantedBy=graphical-session.target
